/* header.module.scss */

.logo {
  font-family: var(--font-karrik);
}

.bump {
  position: relative;
  top: -0.14em;
}

.subtitle {
  text-transform: uppercase;
  /* font-family: var(--font-hanken); */
  font-size: calc(16px + (44 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  text-align: center;
  line-height: 100%;
}

.blueVert {
  background-color: var(--color-foreground);
}

.menuItem {
  opacity: 0.8;
}

.menuItem:hover {
  opacity: 1;

  .t {
    position: relative;
    top: -0.14em;
  }
}

/* .shadow:hover {
  .t {
    position: relative;
    top: -0.14em;
  }
} */

.shadowWhite:hover {
  text-shadow: white 2px 6px;
}
