/* home.module.scss */

.logo {
  font-family: var(--font-karrik);
  text-align: center;
  line-height: 90%;
}

.jtbHeader {
  position: relative;
}

.bump {
  position: relative;
  top: -0.14em;
}

.blueVert {
  background-color: var(--color-foreground);
}

.menuItem {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 600;
  color: var(--color-vivid);
  align-self: end;
}
