@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --color-foreground: oklch(45.79% 0.271 271.41);
  /* --color-background: oklch(55.57% 0.2241 329.7); */
  --color-background: oklch(60.05% 0.2465 329.7);
  /* --color-vivid: #ff2aed; */
  --color-vivid: oklch(75.29% 0.3085 330.89);
  --color-vivid2: oklch(73.23% 0.3046 331.14);
  /* --font-karrik: var(--font-karrik); */
  /* --karrik: var(--font-karrik); */
  --font-family-karrik: var(--font-karrik);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  /* h2 {
    @apply text-3xl font-bold uppercase tracking-wider mb-1;
  } */

  h1 {
    /* @apply text-4xl font-bold mb-2; */
  }

  h3 {
    @apply text-2xl font-semibold mb-1;
  }
}

.home-intro p {
  @apply text-2xl font-semibold leading-9;
}

/*
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body::-webkit-scrollbar {
  width: auto;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* @apply bg-1 bg-solid bg-(--color-vivid); */
}

body::-webkit-scrollbar-thumb {
  @apply bg-(--color-foreground);
  /* background-color: darkgrey; */
  /* @apply outline: 42px solid ; */
}

html {
  font-family: var(--font-space);
  font-weight: 300;
  background-color: var(--color-background);
  /* font-size: 20px; */
  /* overflow: scroll; */
  /* scrollbar-color: #fff #000; */
  /* scrollbar-width: auto; */
}

.contentArea {
  a {
    text-decoration: none;
  }

  a:link,
  a:visited {
    @apply text-green-400;
  }

  a:focus,
  a:hover {
    text-decoration: none;
    @apply bg-(--color-vivid) text-(--color-foreground);
  }

  a:active {
    background: #6900ff;
    color: #cdfeaa;
  }
}

strong {
  @apply font-bold;
}

.projectContent {
  /* @apply grid gap-12; */
  p {
    @apply mb-6;
  }
  ul {
    list-style: square;
    @apply ml-4;
    li {
      @apply mb-1;
    }
  }
  h2 {
    @apply text-3xl font-bold uppercase tracking-wider mb-1;
  }
  blockquote {
    @apply italic font-light bg-[rgba(0,0,0,0.2)] p-4 mx-4 border-s-4 border-(--color-vivid) mb-6;

    p {
      @apply mb-0;
    }
  }
}

.projectsPage {
  @apply mt-5 px-4 lg:px-28;

  h2 {
    @apply text-4xl font-semibold tracking-wide mb-1  p-4  inline-block border-0 border-black bg-white/40;
  }
  span {
    @apply xl:ml-3 align-text-bottom font-normal xl:text-lg block xl:inline;
  }
  section {
    @apply mb-20;
  }
}

.bigMenu {
  ul {
    li {
      border-bottom: solid var(--color-background) 20px;
    }
  }
}
