/* projects.module.scss */

/* .projectLink:hover {
  .projectTitle,
  .projectTags,
  .projectDescription {
    opacity: 1;
  }
  .projectImage {
    filter: blur(0px) invert(0) opacity(0.25) grayscale(0) brightness(0.5);
  }
} */

/* .projectTitle,
.projectTags,
.projectDescription {
  opacity: 0;
} */

/* .projectTags {
}

.gridItem {
  background: linear-gradient(
    180deg,
    oklch(45.79% 0.271 271.41),
    oklch(55.57% 0.2241 329.7)
  );
  opacity: 1;
  transition: 0.5s;
  mix-blend-mode: multiply;
} */
