/* projects.module.scss */

.projectImage {
}

.projectLink:hover {
  .projectTitle,
  .projectTags {
    opacity: 1;
  }

  .projectImage {
    opacity: 0.25;
    filter: blur(3px);
  }
}

.projectTitle,
.projectTags {
  opacity: 0;
}

.projectTags {
}
